@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<link rel="stylesheet" href="~/css/UserLayout.css" />
<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form asp-controller="Home" asp-action="ChangeWallet">
            <input name="wallet" type="text"/>
            <button type="submit">Change wallet address</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
