body {
    font: 400 1em/1.5 "Neuton";
    background-color: rgb(8, 8, 8);
    color: rgba(255,255,255,.25);
    text-align: center;
    margin: 0;
}
.txt {
    font: 700 30px "Oswald", sans-serif;
    background: linear-gradient(225deg,#3b1aa7 0,#4e31b3 30.49%,#9636ef 64.35%,#f682bd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 30px rgba(255,255,255,.40);
}