body {
    background: linear-gradient(176deg, #8c8c8c, #ffffff);
    background-size: 400% 400%;
    -webkit-animation: bgchange 12s ease infinite;
    -moz-animation: bgchange 12s ease infinite;
    animation: bgchange 12s ease infinite;
}
@-webkit-keyframes bgchange {
    0% {
        background-position: 55% 0%
    }

    50% {
        background-position: 46% 100%
    }

    100% {
        background-position: 55% 0%
    }
}

@-moz-keyframes bgchange {
    0% {
        background-position: 55% 0%
    }

    50% {
        background-position: 46% 100%
    }

    100% {
        background-position: 55% 0%
    }
}

@keyframes bgchange {
    0% {
        background-position: 55% 0%
    }

    50% {
        background-position: 46% 100%
    }

    100% {
        background-position: 55% 0%
    }
}