.txtsecondary {
    background: #FFB76B;
    background: linear-gradient(to right, orange,rgb(190, 85, 39));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 125px;
    padding-right: 12.5px;
    padding-left: 12.5px;
    font: 700 35px "Oswald", sans-serif;
    letter-spacing: 0px;
    text-shadow: 0 0 35px rgba(255,255,255,.40);
}

    .txtsecondary:hover {
        animation-name: hovering;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
    }

@keyframes hovering {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 25%;
    }

    100% {
        opacity: 100%;
    }
}
h3 {
    background: linear-gradient(to right, orange,rgb(190, 85, 39));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: bolder 25px "Oswald", sans-serif;
    text-shadow: 0 0 25px rgba(255,255,255,.40);
    font-style:italic;
}
.txtmain {
    background: #090d00;
    color: rgba(255,255,255,.25);
    font: 700 42px "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);
    /* Clip Background Image */
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient( to bottom, #FF7C00, rgba(0,0,0,0) ) 1 100%;
    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
    /* Activate hardware acceleration for smoother animations */

    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}

@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.navsection {
    border-bottom: 3px solid #FF7C00;
}

.footersection {
    border-top: 3px solid #FF7C00;
    max-block-size: 120px;
}
.review {
    text-align: center;
    display: inline-block;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 3%;
    animation-name: appear;
    animation-duration: 2s;
    text-shadow: 0 0 25px rgba(255,255,255,.40);
}
.footer1 {
    position: sticky;
    width: 100%;
    margin-top:4%;
    line-height: 60px;
}

@keyframes appear{
    0%{opacity:0%}
    100%{
        opacity:100%;
    }
}
