.lines {
    position: absolute;
    top: 12%;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
}

.line {
    position: absolute;
    width: 3px;
    height: 75%;
    top: 0;
    left: 50%;
    background: #9636ef6a;
    overflow: hidden;
}

    .line::after {
        content: "";
        display: block;
        position: absolute;
        height: 15vh;
        width: 100%;
        top: -50%;
        left: 0;
        background: linear-gradient(to bottom, #9636ef 0%, #ffffff 75%, #ffffff 100%);
        -webkit-animation: drop 7s 0s infinite;
        animation: drop 7s 0s infinite;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
        animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    }

    .line:nth-child(1) {
        margin-left: -35%;
    }

        .line:nth-child(1)::after {
            -webkit-animation-delay: 2s;
            animation-delay: 2s;
        }

    .line:nth-child(2) {
        margin-left: 35%;
    }

        .line:nth-child(2)::after {
            -webkit-animation-delay: 2s;
            animation-delay: 2s;
        }

@-webkit-keyframes drop {
    0% {
        top: -50%;
    }

    100% {
        top: 100%;
    }
}

@keyframes drop {
    0% {
        top: -50%;
    }

    100% {
        top: 100%;
    }
}
.lines1 {
    position: absolute;
    top: 17%;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
}

.line1 {
    position: absolute;
    width: 3px;
    height: 50%;
    top: 0;
    left: 50%;
    background: #9636ef6a;
    overflow: hidden;
}

    .line1::after {
        content: "";
        display: block;
        position: absolute;
        height: 15vh;
        width: 100%;
        top: -50%;
        left: 0;
        background: linear-gradient(to bottom, #9636ef 0%, #ffffff 75%, #ffffff 100%);
        -webkit-animation: drop 7s 0s infinite;
        animation: drop 7s 0s infinite;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
        animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    }

    .line1:nth-child(1) {
        margin-left: -35%;
    }

        .line1:nth-child(1)::after {
            -webkit-animation-delay: 2s;
            animation-delay: 2s;
        }

    .line1:nth-child(2) {
        margin-left: 35%;
    }

        .line1:nth-child(2)::after {
            -webkit-animation-delay: 2s;
            animation-delay: 2s;
        }