@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
body {
    font: 400 1em/1.5 'Share Tech Mono', monospace;
    background-color: rgb(8, 8, 8);
    color: rgba(255,255,255,.25);
    text-align: center;
    margin: 0;
    animation-name: loading;
    animation-duration: 3s;
}
@keyframes loading{
    0%{opacity:0%}
    100%{
        opacity:100%;
    }
}
label {
    background: linear-gradient(225deg,#3b1aa7 0,#4e31b3 30.49%,#9636ef 64.35%,#f682bd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 35px rgba(255,255,255,.40);
    padding-bottom: 15px;
    padding-top: 15px;
    font-size:2.5em;
    font-family: 'Share Tech Mono', monospace;
}

input {
    border: 2px solid #3b1aa7;
    font-family: 'Share Tech Mono', monospace;
    font-size:1.7em;
    background: linear-gradient(225deg,#3b1aa7 0,#4e31b3 30.49%,#9636ef 64.35%,#f682bd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 35px rgba(255,255,255,.40);
    text-align: center;
    margin-bottom: 15px;
    border-radius: 25px;
    opacity: 0.7;
}
.invalidfield {
    font-family: 'Share Tech Mono', monospace;
    font-size:1em;
    background: linear-gradient(to right, #f682bd,#4e31b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 17%;
    top: 36%;
    position: absolute;
}
.invalidpassword {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1em;
    background: linear-gradient(to right, #f682bd,#4e31b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 17%;
    top: 38%;
    position: absolute;
}
.invalidpasswordconfirm {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1em;
    background: linear-gradient(to right, #f682bd,#4e31b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 17%;
    top: 40%;
    position: absolute;
}
input:focus {
    background: linear-gradient(225deg,#3b1aa7 0,#4e31b3 30.49%,#9636ef 64.35%,#f682bd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes zoom{
    0% {
        font: 700 25px "Oswald", sans-serif;
    }
    100% {
        font: 700 35px "Oswald", sans-serif;
        opacity: 1;
    }
}

#login-submit {
    border: 5px solid #9636ef;
    margin-top: 15px;
    font: 700 30px 'Share Tech Mono', monospace;
    background: linear-gradient(225deg,#3b1aa7 0,#4e31b3 30.49%,#9636ef 64.35%,#f682bd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 35px rgba(255,255,255,.40);
    padding: 10px;
    border-radius: 20px;
}

    #login-submit:hover {
        animation-name: zoomandbloom;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

@keyframes zoomandbloom {
    0% {
        font: 700 30px 'Share Tech Mono', monospace;
        text-shadow: 0 0 35px rgba(255,255,255,.40);
        border-radius: 20px;
        background: linear-gradient(225deg,#3b1aa7 0,#4e31b3 30.49%,#9636ef 64.35%,#f682bd 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    100% {
        background: linear-gradient(225deg,#3b1aa7 0,#4e31b3 30.49%,#9636ef 64.35%,#f682bd 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font: 700 45px 'Share Tech Mono', monospace;
        text-shadow: 0 0 55px rgb(255,255,255);
        border-radius: 25px;
    }
}

.loginform {
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient( to bottom, #9636ef, rgba(0,0,0,0) ) 1 100%;
}

.align {
    margin-top: 7%;
}
.alignreg{
    margin-top:2%;
}
