body {
    font: 400 1em/1.5 "Neuton";
    background-color: rgb(8, 8, 8);
    color: rgba(255,255,255,.25);
    text-align: center;
    margin: 0;
}
h1 {
    color: orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 {
    text-shadow: 1px 1px 2px orange;
    color: white;
    font-family: 'Agency FB';
    margin-bottom:3em;
}
#farm{
    max-width:50em;
    max-height:30em;
    border:5px solid orange;
    filter:grayscale();
}