body {
    font: 400 1em/1.5 "Neuton";
    background-color: rgb(8, 8, 8);
    color: rgba(255,255,255,.25);
    text-align: center;
    margin: 0;
}
h2 {
    background: linear-gradient(225deg,#3b1aa7 0,#4e31b3 30.49%,#9636ef 64.35%,#f682bd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Agency FB';
    font-weight: bold;
}
h4 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 1px 1px white;
    font-size:3em;
}
h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 1px 2px orange;
}
h6 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:grey;
    font-style:italic;
    font-size:2em;
}
.inputmon {
    font-size: 1.3em;
    text-align: center;
    width: 18em;
    font-family: 'Agency FB';
    font-weight: bolder;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 2em;
    color: #9636ef;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}
#warn {
    color: red;
    font-size: 1.3em;
    font-family: Cambria;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 2px darkred;
    margin-bottom:0.5em;
}
.button1 {
    font-family: 'Agency FB';
    font-weight: 600;
    background-color: orange;
    color: black;
    font-size: 2.3em;
    border-radius: 15px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
    .button1:hover {
        animation-name: loadbutton;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }   
@keyframes loadbutton {
    0% {
        background-color: orange;
    }

    100% {
        background-color: black;
        color: orange;
        border: 2px solid orange;
    }
}
.row1 {
    margin-top: 5%;
    margin-right: 10em;
    margin-left:10em;
}
.row2 {
    margin-top: 5%;
    margin-left:10em;
    margin-right:10em;
}
.row3 {
    margin-top: 5%;
    margin-left:10em;
}
.rows{
    position:static;
    display:flex;
}