@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
body {
    font: 400 1em/1.5 'Share Tech Mono', monospace;
    background-color: rgb(8, 8, 8);
    color: rgba(255,255,255,.25);
    text-align: center;
    margin: 0;
}
.message{
    color:grey;
    font-size:1.2em;
    font-style:italic;
    font-weight:600;
    margin-bottom:2em;
}
.button1 {
    font-family: 'Share Tech Mono', monospace;
    font-weight: 600;
    background-color: #9636ef;
    color: black;
    font-size: 2.3em;
    border-radius: 15px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.txtwith {
    font-size: 2.2em;
    color: white;
    font-weight: 600;
    font-family: 'Share Tech Mono', monospace;
    text-shadow: 1px 1px 2px orange;
    margin-bottom: 0.3em;
}
.button1:hover {
    animation-name: loadbutton;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}
@keyframes loadbutton {
    0% {
        background-color: #9636ef;
    }

    100% {
        background-color: black;
        color: #9636ef;
        border: 2px solid #9636ef;
    }
}
.inputmon {
    font-size: 1.3em;
    text-align: center;
    max-width: 3em;
    font-family: 'Share Tech Mono', monospace;
    font-weight: bolder;
    background-color: black;
    border-radius: 12px;
    border-color: #9636ef;
    margin-bottom: 2em;
    color: #9636ef;
    text-shadow: 1px 1px 2px black;
}
#moneyafterwithdraw {
    font-size: 2.2em;
    color: white;
    font-weight: 600;
    font-family: 'Share Tech Mono', monospace;
    text-shadow: 1px 1px 2px orange;
    margin-bottom: 0.3em;
}