@page
@model LoginModel


<link rel="stylesheet" href="~/css/LoginRegisterForm.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/line.css" asp-append-version="true">
<div class="container shadow-lg w-75 border-bottom border-top mt-5 text-center mb-5 w-25">
  
    <form id="account" method="post" class="loginform">

        <div asp-validation-summary="ModelOnly" class="fs-5 text-danger"></div>
        <div class="user-box mt-3">
            <label asp-for="Input.Username" class="text-dark display-5"></label>   
            <br />
            <span asp-validation-for="Input.Username" class="fs-5 text-danger"></span><br />
            <input asp-for="Input.Username" class="text-dark border-2 mt-2 mb-2 rounded-3 fs-3 text-center" autocomplete="username" aria-required="true" />

        </div>
        <div class="mt-5 mb-5">
            <label asp-for="Input.Password" class="text-dark display-5"></label>   
             <br />
            <span asp-validation-for="Input.Password" class="fs-5 text-danger"></span><br />
            <input asp-for="Input.Password" autocomplete="current-password" class="text-dark border-2 mt-2 mb-2 rounded-3 fs-3 text-center" aria-required="true" />

        </div>
        <div class="login-box">
            <input class="btn-lg btn-warning shadow-sm mt-3 mb-4 fs-1" type="submit" value="Login">
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
