@model UserDataModel
<header>
    <link rel="stylesheet" href="~/css/AdminMenu.css" />
</header>
<body>
    @foreach(UserDataModel user in ViewBag.Users)
    {
        <section>
            <h2>@user.Email</h2>
            <h4>@user.WalletAddress</h4>
            <form asp-controller="Home" asp-action="Edit" asp-route-id="@user.Id">
                <input type="submit" value="Button" placeholder="Crip">

            </form>
        </section>
    }
</body>