@model WithdrawDataModel
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true"/>
<div class="container shadow-lg w-75 border-bottom border-top mt-5 mb-5 text-center">
    @{
        decimal sum = 0;
        List<WithdrawDataModel> withdraws = ViewBag.Withdraws;
        foreach(var withdraw in withdraws)
        {
            sum += withdraw.Money;
        }
    }
    <h5 class="mt-5 display-4 mb-5">Whole sum to withdraw: @sum</h5>
    <form asp-controller="Home" asp-action="AdminWithdrawConfirmed" asp-route-wallet="@withdraws[0].WalletAddress">
        <button type="submit" class="btn-lg btn-warning shadow-sm mt-2 mb-5 fs-5">Confirm these withdraws</button>
    </form>
    </div>