
<div class="container shadow-lg w-75 border-bottom border-top mt-5 text-center mb-5" >
    <h1 class="text-dark display-2 mt-5 mb-2">Telegram: </h1>
    <div class="mb-5"><a href="#" class="text-info display-4 text-decoration-none fst-italic">@@cuhsupport</a></div>
    <h1 class="text-dark display-2 mt-5 mb-2">WhatsApp: </h1>
    <div class="mb-5"><a href="#" class="text-success display-4 text-decoration-none fst-italic">+447893932023</a></div>
    </div>