<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("#mena").hide();
        $("#mena").show(1000);
    });

</script>
<div id="mena" class="container shadow-lg w-75 border-bottom border-top mt-5 text-center mb-5" >
    <h1 class="text-dark display-2 mt-5 mb-2">Telegram: </h1>
    <div class="mb-5"><a href="#" class="text-info display-4 text-decoration-none fst-italic">@@cuhsupport</a></div>
    </div>