@model UserDataModel
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <link rel="stylesheet" href="~/css/Deposit.css" asp-append-version="true"><link rel="stylesheet" href="~/css/LoadingScreen.scss" asp-append-version="true" />
</head>
@ViewBag.ErrorSum
<body>
    <form asp-controller="Home" asp-action="TryDeposit" asp-route-id="@Model.Id">
       <label>Enter a sum you want to deposit: </label>
       <input type="number" name="money" />
       <button type="submit">Submit</button>
    </form>
    <h3>Your balance: @Model.Balance $</h3>
    </body>
