@model UserDataModel
<link rel="stylesheet" href="~/css/Edit.css" />
<label asp-for="UserName" class="txt"></label>
@Html.DisplayFor(x=>x.UserName);
</br>
<label asp-for="Balance" class="txt"></label>
</br>
<label asp-for="Id" class="txt"></label>