<head>
    <link rel="stylesheet" href="~/css/Index.css">
</head>
<body>

    <section class="section-tours" id="section-tours">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                Daily tasks
            </h2>
        </div>

        <div class="row">
            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--1">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--1">text da pishe kolio</span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>text da pishe kolio</li>
                                <li>text da pishe kolio</li>
                                <li>text da pishe kolio</li>
                                <li>text da pishe kolio</li>
                                <li>text da pishe kolio</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-1">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only">Simple as that</p>
                                <p class="card__price-value">Your reward is awaiting</p>
                            </div>
                            <a href="#popup" class="btn btn--white">Claim reward</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--2">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--2">text da pishe kolio</span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>text da pishe kolio</li>
                                <li>text da pishe kolio</li>
                                <li>text da pishe kolio</li>
                                <li>text da pishe kolio</li>
                                <li>text da pishe kolio</li>
                            </ul>
                        </div>

                    </div>
                    <div class="card__side card__side--back card__side--back-2">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only">Simple as that</p>
                                <p class="card__price-value">Your reward is awaiting</p>
                            </div>
                            <a href="#popup" class="btn btn--white">Claim reward</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--3">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--3">text da pishe kolio</span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>text da pishe kolio</li>
                                <li>text da pishe kolio</li>
                                <li>text da pishe kolio</li>
                                <li>text da pishe kolio</li>
                                <li>text da pishe kolio</li>
                            </ul>
                        </div>

                    </div>
                    <div class="card__side card__side--back card__side--back-3">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only">Simple as that</p>
                                <p class="card__price-value">Your reward is awaiting</p>
                            </div>
                            <a href="#popup" class="btn btn--white">Claim reward</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="u-center-text u-margin-top-huge">
            <a href="#" class="btn btn--green">Deposit</a>
        </div>
    </section>

    @ViewBag.ErrorCh
</body>
