<link rel="stylesheet" href="~/css/Tutorial.css" asp-append-version="true"/>

<h1>HOW DOES IT WORK?</h1>
<h2>We have a mining farm which consists of 36 Antiminers S9K located in Romania. </h2>
<br />
<h2>What is your role here then?
    <br />
    Because in Romania there is a law
    which puts a higher tax on electricity
    when it is connected to crypto mining (40% more),
    in order to avoid this higher tax, we use
    your crypto to pay our electricity bills
    because it is not connected to our mining farm.
    This way there is no additional tax.
</h2>
<img src="~/Images/farm.png" id="farm"/>