<link rel="stylesheet" href="~/css/Tutorial.css" asp-append-version="true"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true"/><script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("#mena").hide();
        $("#mena").show(1000);
    });

</script>
                <div id="mena" class="container shadow-lg w-75 border-bottom border-top mt-5 mb-5 text-center">
<h1 class="mt-3 display-5 text-warning">HOW DOES IT WORK?</h1>
<h2 class="h5 text-center mt-3 fst-italic">We have a mining farm which consists of 36 Antiminers S9K located in Romania.
    <br />
    What is your role here then?
    <br />
    Because in Romania there is a law
    which puts a higher tax on electricity
    when it is connected to crypto mining (40% more),
    in order to avoid this higher tax, we use
    your crypto to pay our electricity bills
    because it is not connected to our mining farm.
    This way there is no additional tax.
</h2>
<img src="~/Images/farm.png" class="w-50 mb-4 mt-2 border border-2 border-dark rounded-3"/>
</div>