<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GrabDemSite</title>
    <link rel="stylesheet" href="~/css/LayoutNew.css" />
    <link rel="stylesheet" href="~/css/Footer.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GrabDemSite.styles.css" asp-append-version="true" />
</head>
<body>
        <header>
   
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navsection box-shadow mb-3">
            <div class="container-fluid">
                <a class="nav-link txtmain" asp-area="" asp-controller="Home" asp-action="Index">GrabDemSite</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (this.User.Identity.IsAuthenticated == true)
    {
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="txtsecondary" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="txtsecondary " asp-area="" asp-controller="Home" asp-action="Deposit">Deposit</a>
                        </li>
                    </ul>
   }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        </header>
 
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div> 

    <footer class="footer1 footersection">
        <div class="container">
            @{
                Random rnd = new Random();
                int stars=rnd.Next(3,6);
                string[] names={"IndexeR","SalamiKebabi","MACEDONIAA","GGGG!","Messi","Cr3pto","IceMan","IceWallowCome","DEEZNUTZ","Hobbit"
            ,"CroccWithAGlocc","JamesCharles","SexyGirl69","TheJoker","JokesOnYou22","MrDragon","DoctorSimplyStrange","Hank","Heisenberg",
        "420Josh","BlazeItGlazeIt","mOntero","snitch9ine","BobTheBuilder","32LivesEtc","PillTaker31xD","xXMeinKraftXx","GimmeTroll","Frog",
    "PopCornMike","LuvU","Weesly","PaNdorA","CringiestGuy","EmoKid","XXXshhh","waterdrinker83","AnUnluckyLuckyPerson","DaRealSanta","BigFootLazza",
    "Kylie","CarlMarx","FakeR","CartoonStar","JJOrangutunji"};
                int namescount = names.Count() - 1;
                int number = rnd.Next(0,namescount);
               for(int i=1;i<=3;i++)
                {
                       <section class="review">
                       

                            <h3>@names[number]</h3>
                        @for(int b=1;b<=stars;b++)
                    {
                                <img src="~/Images/star.png" style="height:35px;width:35px"/>
                    }
                        @{

                            stars=rnd.Next(3,6);
                            int nextnum = rnd.Next(0,namescount);
                            while(nextnum==number)
                            {
                                nextnum = rnd.Next(0,namescount);
                            }
                            number = nextnum;
                        }
                        </section>
                }
            }
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
