@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserDataModel> SignInManager
@inject UserManager<UserDataModel> UserManager

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"  asp-append-version="true"/>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true"/>
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="idprof" class="text-dark text-decoration-none display-6 ms-5" asp-controller="Home" onmouseover="$('#idprof').fadeOut(555).fadeIn(555);" asp-action="Profile" asp-route-tr=@true title="Manage">@this.User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <form  class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="idlogout" type="submit" onmouseover="$('#idlogout').fadeOut(555).fadeIn(555);" class="bg-warning border-0 text-dark text-decoration-none display-6 ms-4 ">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="text-dark text-decoration-none display-6 ms-5" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="text-dark text-decoration-none display-6 ms-5" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
